
<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span >&copy; CETEC Order Uploader 2024</span>
    </div>
</footer>
</body>
<script src="/javascripts/validateForms.js"></script>
</html>

