
<footer class="footer bg-dark py-3 mt-5 sticky-bottom">
    <div class="container">
        <span id="footerText">&copy; CETEC Order Uploader 2024</span>
    </div>
</footer>
</body>
<script src="/javascripts/validateForms.js"></script>
</html>

