<% layout('layout/boilerplate')%>
<div class="row align-items-start">
    <div class="col-sm-6 offset-3">
        <div class="card" id="titleCard">
            <h1>About Page</h1>
            <h2></h2>
            </div>
    </div>
</div>

<div class="row align-items-center">
    <div class="col-sm-8 offset-2 mt-4 mb-2">
        <h3>Welcome to the About page.</h3>
    </div>
</div>

<div class="row align-items-center">
 <div class="col-sm-8 offset-2 mb-2">
        <p class="about">This application was developed by Noah DuVarney for Misty Mountain Threadworks</p>
        <p class="about pt-0">Contact: duvarneynoah@gmail.com with questions</p>
    </div>
</div>

<div class="row align-items-center">
    <div class="col-sm-8 offset-2 mb-2">
        <p class="about">This application is designed to take orders from Shopify (in .csv format) and import them into CETEC.</p>
        
    </div>
</div>

<div class="row align-items-center">
    <p class="about"><b>CSV file should have fields that match the following.</b></p>
    <div class="col-sm-8 offset-4 mt-4">
        
    <div class="card" style="width: 20rem;">
        <div class="card-header">
          <b>Expected Fields</b>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Customer Name</li>
          <li class="list-group-item">Email</li>
          <li class="list-group-item">Customer Name (Shipping)</li>
          <li class="list-group-item">Shipping Address 1</li>
          <li class="list-group-item">Shipping Address 2</li>
          <li class="list-group-item">Shipping City</li>
          <li class="list-group-item">Shipping Province Code</li>
          <li class="list-group-item">Shipping ZIP</li>
          <li class="list-group-item">Shipping Country</li>
          <li class="list-group-item">Shipping Address Phone</li>
          <li class="list-group-item">Customer Name (Billing)</li>
          <li class="list-group-item">Billing Address 1</li>
          <li class="list-group-item">Billing Address 2</li>
          <li class="list-group-item">Billing City</li>
          <li class="list-group-item">Billing Province Code</li>
          <li class="list-group-item">Billing ZIP</li>
          <li class="list-group-item">Billing Country</li>
          <li class="list-group-item">SKU</li>
          <li class="list-group-item">Product Price (Line Item Price)</li>
          <li class="list-group-item">Order Item Quantity</li>
          <li class="list-group-item">Total Tax</li>
          <li class="list-group-item">Total Discounts</li>
          <li class="list-group-item">Order Name</li>
          <li class="list-group-item">Transaction Date (Created)</li>
          <li class="list-group-item">Shipping Price</li>
          <li class="list-group-item">Customer Note</li>
        </ul>
    </div>
    </div>
</div>  


