<% layout('layout/boilerplate')%>
<div class="row align-items-start">
    <div class="col-sm-6 offset-3">
        <div class="card" id="titleCard">
            <h1>Info Page</h1>
            <h2></h2>
            </div>
    </div>
</div>

<div class="row align-items-center">
    <div class="col-sm-8 offset-2 mt-4 mb-2">
        <h3>Welcome to the Info page.</h3>
    </div>
</div>

<div class="row align-items-center">
 <div class="col-sm-8 offset-2 mb-2">
        <p class="about">This application was developed by <b>Noah DuVarney</b> for <b>Misty Mountain Threadworks</b></p>
        <p class="about pt-0">Contact: <b>duvarneynoah@gmail.com</b> with questions</p>
    </div>
</div>

<div class="row align-items-center">
    <div class="col-sm-8 offset-2 mb-2">
        <p class="about">This application is designed to take orders from Shopify (in <b>.csv</b> format) and import them into CETEC. Successfully placed orders will be displayed in a green alert box once complete. Failed orders will be displayed in a red alert box with Shopify Order numbers.</p>
        <p class="about">The most common reason for a failed order upload is missing or incorrect SKU codes. Custom Harness SKU cannot be exported from shopify currently. They must be enter manually. Visit the <b>Custom Harness Sorter Page</b> for assist with the import process.</p>
        <p class="about">The CETEC API Key is required to send orders to CETEC. Open CETEC and navigate to <b>Admin -> CONFIG SETTINGS</b>. Search for <b>JSON API Token</b>. The API Key can be found and updated from there.</p>
    </div>
</div>

<div class="row align-items-center">
    <p class="about"><b>CSV files should have fields that match the following(Spelled Exactly).</b></p>
    <p class="about">Example CSV File is located in the project files under the <b>/csvStorage</b> folder(<b>TestOrders.csv</b>).</p>
    <div class="col-sm-8 offset-4 mt-4">
        
    <div class="card" style="width: 20rem;">
        <div class="card-header">
          <b>Expected Fields</b>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Customer Name</li>
          <li class="list-group-item">Email</li>
          <li class="list-group-item">Customer Name (Shipping)</li>
          <li class="list-group-item">Shipping Address 1</li>
          <li class="list-group-item">Shipping Address 2</li>
          <li class="list-group-item">Shipping City</li>
          <li class="list-group-item">Shipping Province Code</li>
          <li class="list-group-item">Shipping ZIP</li>
          <li class="list-group-item">Shipping Country</li>
          <li class="list-group-item">Shipping Address Phone</li>
          <li class="list-group-item">Customer Name (Billing)</li>
          <li class="list-group-item">Billing Address 1</li>
          <li class="list-group-item">Billing Address 2</li>
          <li class="list-group-item">Billing City</li>
          <li class="list-group-item">Billing Province Code</li>
          <li class="list-group-item">Billing ZIP</li>
          <li class="list-group-item">Billing Country</li>
          <li class="list-group-item">SKU</li>
          <li class="list-group-item">Product Price (Line Item Price)</li>
          <li class="list-group-item">Order Item Quantity</li>
          <li class="list-group-item">Total Tax</li>
          <li class="list-group-item">Total Discounts</li>
          <li class="list-group-item">Order Name</li>
          <li class="list-group-item">Transaction Date (Created)</li>
          <li class="list-group-item">Shipping Price</li>
          <li class="list-group-item">Customer Note</li>
        </ul>
    </div>
    </div>
</div>  


