<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CETEC Order Uploader</title>
</head>
<body>
    <h1>Welcome!</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae omnis accusantium rerum neque! Dignissimos fugiat aspernatur ipsam itaque accusamus omnis nam, esse eveniet dolorum, tempore sed. Rem ducimus facere doloremque.
    </p>
</body>
</html>