
<% layout('layout/boilerplate')%>

    <div class="row align-items-center">
        <div class="col-sm-4"> 
            <div class="card" id="titleCard">
            <img src="/pics/MistyLogo.png" class="card-img-top align-self-center">
            <div class="card-body">
                <p class="text-center" style="font-size : 1.5rem;">Welcome to the CETEC Order Uploader<p>
            </div>
          </div>
        </div>
       
      
        <div class="col-sm-8">
            <div class="card" id="uploadCard">
            <h2>Upload Shopify Orders Here</h2> 
            <form action="/cetec/placeOrder" method="POST" enctype="multipart/form-data" novalidate class="validated-form">
                <div class="mb-3 px-3" id="fileUpload">
                    <div class="form-group">
                    <label for="formFile" class="form-label" id="csv">.csv file required</label>
                    <input class="form-control" type="file" name="shopifyOrders" id="shopifyOrders" required>
                    <div class="valid-feedback">
                        Looks Good!
                    </div>
                    </div>
                  </div>
                  <div class="mb-3 px-3">
                  <label for="APIKEY" class="form-label" id="csv">Enter CETEC Api Key</label>
                  <div class="input-group flex-nowrap">
                    <span class="input-group-text" id="addon-wrapping">Api Key</span>
                    <input type="password" class="form-control" aria-label="password" aria-describedby="addon-wrapping" name="APIKEY" id="APIKEY" required>
                    <div class="valid-feedback">
                        Looks Good!
                    </div>
                  </div>
                </div>
                <button id="buttonAPIPOST">
                    <label>Submit Orders</label>
                    <span class="spinner-border spinner-border-sm" aria-hidden="true" id="loadingIcon"></span>
                </button> 
            </form>
        </div>
        
        
           
        </div>
       </div>
       <div class="row">
        <div class="col-8 offset-4">
            <div class="mb-3">
                <h3>Get A Joke</h3>
                <button id="jokeButton">Click Me!</button>
                <div>
                    <ul id="jokeList"></ul>
                </div>
            </div>
        </div>
    </div>
 
    <script src="https://cdn.jsdelivr.net/npm/axios@1.6.7/dist/axios.min.js"></script>
    <script src="/javascripts/main.js"></script>

   