<!DOCTYPE html>
<html lang="en">
<head>
  <!--CETEC API TOKEN: c4tBewPhEYNM1Gm -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CETEC Order Uploader</title>
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <img src="/pics/MistyLogo.png" id="Logo">
    <h1>Welcome to the CETEC Order Uploader</h1>
   
    <form action="">
        <button id="buttonAPI">Submit API POST</button> 
    </form>
   
    <section>
        <h2>Get A Joke</h2>
        <button id="jokeButton">Click Me!</button>
        <ul id="jokeList"></ul>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.6.7/dist/axios.min.js"></script>
    <script src="/app.js"></script>
</body>
</html>