
<% layout('layout/boilerplate')%>
   <div class="row">
    <div class="card" id="titleCard">
        <img src="/pics/MistyLogo.png" class="card-img-top" id="Logo">
        <div class="card-body">
            <p class="text-center" style="font-size : 1.5rem">Welcome to the CETEC Order Uploader<p>
        </div>
      </div>
  
    <div class="col-6 offset-2">
        <div class="card" id="uploadCard">
        <h2>Upload Shopify Orders Here</h2> 
        <form action="/cetec/placeOrder" method="POST" enctype="multipart/form-data" novalidate class="validated-form">

            <div class="mb-3 px-3" id="fileUpload">
                
                <label for="formFile" class="form-label"></label>
                <p>.csv file required</p>
                <input class="form-control" type="file" id="shopifyOrders" required>
                <div class="valid-feedback">
                    Looks Good!
                </div>
              </div>
            
            <button id="buttonAPIPOST">Submit API POST</button> 
        </form>
    </div>
        <div class="mb-3">
            <h2>Get A Joke</h2>
            <button id="jokeButton">Click Me!</button>
            <div>
                <ul id="jokeList"></ul>
            </div>
        </div>
    </div>
   </div>
    
   
    

    <script src="https://cdn.jsdelivr.net/npm/axios@1.6.7/dist/axios.min.js"></script>
    <script src="/javascripts/main.js"></script>

   