<% layout('layout/boilerplate')%>
<div class="row top-0 start-0">
    <div class="card align-self-center" id="titleCard">
    <h1>404 Page Not Found</h1>
    </div>
</div>
<div class="row">
    <div class="col-8 offset-4 align-self-center">
        <div class="mb-3">
            <h3>Get A Joke</h3>
            <button id="jokeButton">Click Me!</button>
            <div>
                <ul id="jokeList"></ul>
            </div>
        </div>
</div>


 