<% layout('layout/boilerplate')%>
<div class="row align-items-start">
    <div class="col-sm-6 offset-3">
    <div class="card" id="titleCard">
    <h1>Custom Harness SKU Sorter</h1>
    </div>
    </div>
</div>