h1{
    text-align: center;
    color: #f2e9e4;
    font-weight: 700;
}
h2{
    text-align: center;
    color: #f2e9e4;
}
h3{
    text-align: center;
    color: #4a4e69;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #f2e9e4;
    justify-content: center;
}

p{
    color: #f2e9e4;
    padding: .25em 1%;
}
#csv{
    color: #c9ada7;
}

button{
    background: none;
    color: #22223b;
    border: 2PX solid;
    padding: 1em 2em;
    font-size: 1em;
    margin: 1em 2em;
    border-radius: 8px;
    transition: color .25s, border-color 0.25s, box-shadow 0.25s, transform 0.25s;
}

button:hover{
    border-color: #f2e9e4;
    color: rgb(226, 226, 226);
    box-shadow: 0 0.5em 0.5em -0.4em #f2e9e4;
    transform: translateY(-0.25em);
    cursor: pointer;
}

ul{
    color: #4a4e69;
}
#uploadCard{
    background-color: #4a4e69;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    margin: 1em 2em;
    padding: 1em 2em;
}
#titleCard{
    background-color: #4a4e69;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    
}
#titleCard img {
    justify-content:center;
    max-width: 60%;
    height:auto;
}

#loadingIcon{
    visibility: hidden;
}

#settings{
    align-items: center;
}